archinfo==8.20.1.7
bitstring==3.1.6
certifi==2019.6.16
cffi==1.13.2
chardet==3.0.4
colorama==0.4.1
colorlog==4.0.2
cycler==0.10.0
future==0.18.2
idna==2.8
kiwisolver==1.1.0
matplotlib==3.2.1
numpy==1.18.2
pycparser==2.19
PyJWT==0.4.3
pyparsing==2.4.6
python-dateutil==2.8.1
pyvex==8.20.1.7
requests==2.22.0
six==1.14.0
urllib3==1.26.5
